html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  z-index: 1;
  color: #fff;
}

#header h1 {
  font-size: 35px;
}

#header nav .toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

#header nav ul li {
  font-size: 20px;
  padding-left: 25px;
  font-weight: bold;
}

#header nav ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#header nav ul li a:hover {
  color: #7fd6f3;
}

#show {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75))), url(../img/austin-distel-Imc-IoZDMXc-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75)), url(../img/austin-distel-Imc-IoZDMXc-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#show h2 {
  font-size: 50px;
  text-transform: uppercase;
}

#show p {
  font-size: 22px;
}

#show .btns {
  padding: 1%;
}

#show .btns .main-btn-left {
  padding: 1rem 1.8rem;
  font-size: 18px;
  border: none;
  color: goldenrod;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

#show .btns .main-btn-left:hover {
  background-color: gold;
  color: #fff;
}

#show .btns .main-btn-right {
  padding: 1rem 1.8rem;
  font-size: 18px;
  border: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  background-color: goldenrod;
  color: #fff;
}

#show .btns .main-btn-right:hover {
  background-color: white;
  color: goldenrod;
}

#about {
  padding: 2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about h2 {
  font-size: 35px;
  margin-bottom: 5%;
}

#about .about-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 2rem 3rem;
}

#about .about-boxes .box i {
  font-size: 30px;
  color: gold;
}

#about .about-boxes .box h3 {
  font-size: 25px;
}

#about .about-boxes .box p {
  font-size: 22px;
}

#gallery {
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gallery h2 {
  font-size: 35px;
  margin-bottom: 5%;
}

#gallery .port-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 4rem;
}

#gallery .port-images .img-box {
  overflow: hidden;
}

#gallery .port-images .img-box img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#gallery .port-images .img-box img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#choice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#choice .box h3 {
  font-size: 35px;
}

#choice .box .line {
  width: 10%;
  height: 5px;
  background-color: gold;
}

#choice .box p {
  font-size: 20px;
}

#choice .box p i {
  border: 2px solid goldenrod;
  padding: 1%;
  border-radius: 50px;
  color: gold;
}

#choice .img-box img {
  width: 100%;
  height: 100%;
}

#testimonial {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../img/maid-milinkic-kfkM2mO0x4I-unsplash.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../img/maid-milinkic-kfkM2mO0x4I-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#testimonial .test-box .client {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}

#testimonial .test-box .client img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#testimonial .test-box .client-detail h3 {
  font-size: 25px;
}

#testimonial .test-box .client-detail p {
  font-size: 20px;
  color: #1196e9;
}

#testimonial .test-box p {
  font-size: 22px;
}

#team {
  padding: 2rem 4rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#team h2 {
  font-size: 35px;
  margin-bottom: 5%;
}

#team .teams {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#team .teams .team-mem {
  background: white;
  color: #000;
}

#team .teams .team-mem img {
  width: 100%;
  height: 300px;
}

#team .teams .team-mem h3 {
  font-size: 25px;
}

#team .teams .team-mem p {
  font-size: 20px;
}

#blog {
  text-align: center;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#blog h2 {
  font-size: 35px;
  margin-bottom: 5%;
}

#blog .blog-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#blog .blog-card .card {
  background: #fff;
  color: #000;
}

#blog .blog-card .card img {
  width: 100%;
  height: auto;
}

#blog .blog-card .card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .blog-card .card .details p {
  font-size: 18px;
}

#blog .blog-card .card .details p i {
  color: gold;
  padding: 5px;
}

#blog .blog-card .card .blog-content {
  padding: 1rem;
}

#blog .blog-card .card .blog-content h3 {
  font-size: 20px;
}

#blog .blog-card .card .blog-content p {
  font-size: 18px;
}

#blog .blog-card .card .blog-content a {
  text-decoration: none;
  font-size: 17px;
  color: goldenrod;
}

#contact {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
  text-align: center;
}

#contact h2 {
  font-size: 35px;
  margin-bottom: 5%;
}

#contact .cont-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#contact .cont-box .cont i {
  font-size: 30px;
  color: gold;
}

#contact .cont-box .cont h3 {
  font-size: 25px;
}

#contact .cont-box .cont p {
  font-size: 20px;
}

#contact form {
  margin: 4rem;
}

#contact form input[type="text"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
}

#contact form input[type="email"] {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
}

#contact form input[type="submit"] {
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  font-size: 20px;
  background-color: gold;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

#contact form input[type="submit"]:hover {
  background-color: goldenrod;
}

#contact form textarea {
  width: 100%;
  padding: 4rem 1rem;
  margin: 1rem;
  font-size: 20px;
}

footer {
  background-color: #fff;
  color: #000;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

footer h3 {
  font-size: 40px;
  color: #000;
}

footer .icons a {
  color: #000;
  text-decoration: none;
}

footer .icons a i {
  font-size: 30px;
  padding: 1%;
  background-color: gold;
  border-radius: 50px;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

footer .icons a i:hover {
  background-color: goldenrod;
}

footer p {
  font-size: 22px;
  color: #000;
}

footer p span {
  color: goldenrod;
}
/*# sourceMappingURL=style.css.map */